#id-1{
    border:3px solid red;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}
#id-2{
    border:3px solid red;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 50px;
}
#id-3{
    border:3px solid red;
    padding-top: 5px;
    font-size: 18px;
}

#id-41{
    border:3px solid red;
    padding: 5px;
    margin-top: 8px;
}

#id-4{
    border:3px solid red;
    padding-top: 5px;
}

button, a{
    border:3px solid red;
    padding-top: 5px;
}